{% extends "base.html" %}

{% block title %} Welcome {% endblock %}

{% block content %}

<div class="container">
    <div class="jumbotron">
        
        <img src="static/baboon.png">
            
            </div>
</div>

<div class="container">
    
    <br>
    <br>
    <h1>Getting Started</h1>
    <p>Welcome to Baboon Blocks.  Blocks is a graphical version of <a href="python_games">Python</a> that is easy to learn!  Before you get started with the games, let’s learn all of the features so that you’ll be able to understand the game instructions:</p>
    <br>
    <p>This part of the page that you will use is called the <b>programming environment</b>.</p>
    <br>
    <img src="../static/block_gettingstarted.png">
    <br>
    <br>
    <p>The left half of the programming environment is where you can move code blocks. These are the instructions for the program to follow.</p>
    <br>
    <img src="../static/block_coding.png">
    <br>
    <br>
    <p>Once you’ve written the code, click the <b>run</b> button to see if it works.</p>
    <br>
    <img src="../static/run_button.png">
    <br><br>
    <p>Then, in the right window you can see the result of your code!</p>
    <img src="../static/block_viewing area.png">
    <br>
    <br>
    <br>
                    
</div>

<div class="container">
    <h1>Change Myrtle's Color</h1>
    <br>
    <p>In this game, you can tell our favorite turtle named Myrtle to change her color. Click on the colored box to choose a new color.
    <br>
   <iframe src="https://trinket.io/embed/blocks/8a2e5d295e" width="100%" height="600" frameborder="0" marginwidth="0" marginheight="0" allowfullscreen></iframe>
<br>
<br>

</div>

<div class="container">
    <h1>Myrtle Changes Shape</h1>
    <br>
    <p>Change Myrtle's shape by clicking on the word "turtle" in the shape block. Then, you can select from the shapes available.</p>
    <br>
   <iframe src="https://trinket.io/embed/blocks/9d0f6057a2" width="100%" height="600" frameborder="0" marginwidth="0" marginheight="0" allowfullscreen></iframe><br>
<br>

</div>

<div class="container">
    <h1>Moving Myrtle</h1>
    <br>
    <p>Here you can tell Myrtle to moves around in the window. Instructions:
    •	Myrtle can walk in two directions: forward and backward. You can change how far by changing the number in the move block.
    •	Myrtle can take as many steps as you want her to, but be careful! If you tell her to take more than 200 steps she will walk right off the screen!
    •	Myrtle can turn in two directions: left or right
    •	You can tell Myrtle to turn around as many degrees as you want, but she might get dizzy!
    </p>
    <br>
    <br>
    <iframe src="https://trinket.io/embed/blocks/fa6d6d67d5" width="100%" height="600" frameborder="0" marginwidth="0" marginheight="0" allowfullscreen></iframe>
</div>
<br>
<br>

<div class="container">
    <h1>Myrtle Makes a Square</h1>
    <br>
    <p>If you haven’t played Moving Myrtle yet, now would be a good time to do that! You will need to understand how to move her in order to make the square. It helps to read how Myrtle will move from the move blocks, and imagine yourself walking in a square the way she does. All the blocks you need are threre!  Just re-arrange them so Myrtle moves in a square! </p>
    <br>
    <br>
    <iframe src="https://trinket.io/embed/blocks/738cd29fda" width="100%" height="600" frameborder="0" marginwidth="0" marginheight="0" allowfullscreen></iframe>
<br>
<br>

</div>

<div class="container">
    <h1>Myrtle Changes Speed</h1>
    <br>
    <p>Myrtle is going too fast! Slow her down by lowering the number in the speed block.</p>
    <br>
    <br>
    <iframe src="https://trinket.io/embed/blocks/764da5e013" width="100%" height="600" frameborder="0" marginwidth="0" marginheight="0" allowfullscreen></iframe>
</div>
<br>
<br>

<div class="container">
    <h1>Myrtle Learns to Write</h1>
    <br>
    <p>Myrtle can write too! In the example below, change user to your name in the write block.</p>
    <br>
    <br>
   <iframe src="https://trinket.io/embed/blocks/1cc8211d22" width="100%" height="600" frameborder="0" marginwidth="0" marginheight="0" allowfullscreen></iframe></div>
<br>
<br>

<div class="container">
    
    <h1>Myrtle Learns to Draw</h1>
    <br>
    <p>Myrtle sometimes like to draw with her favorite pen. But sometimes she forgets to put the tip of her pen onto her piece of paper. If you hit run, you can she that when she first moves she isn’t using her pen right, but later she remembers! You can tell Myrtle to put her pen down by using a pen block with "down" selected, and if you want to make her lift it up again you tell her by using the pen block with the "up" option.</p>
    <br>
    <br>
   <iframe src="https://trinket.io/embed/blocks/71feb2c1a6" width="100%" height="600" frameborder="0" marginwidth="0" marginheight="0" allowfullscreen></iframe>
</div>
<br>
<br>

<div class="container">
    <h1>Myrtle Makes a Loop</h1>
    <br>
    <p>Programming can get pretty repetitive at times. To avoid this repetition, we can create a loop. The loop below adds text in each color without having to write the same code over and over again. The color_list code lists the colors that will be added and the code that starts with for loops the colors. In the code below, add another color to the color_list and see what happens.  </p>
    <br>
    <br>
    <iframe src="https://trinket.io/embed/blocks/fda7bef419" width="100%" height="600" frameborder="0" marginwidth="0" marginheight="0" allowfullscreen></iframe>
</div>
<br>
<br>

<div class="container">
    <h1>Myrtle Learns If/Else Statements</h1>
    <br>
    <p>If – else statements that will run certain code based on what a user does. In the example below, a math question is asked. If the user answers the question correctly, it will say it’s correct. If the user answers incorrectly, it will say what the user said and what Myrtle says the answer is. Try editing the equations below. (Make sure to have the same equation in all 3 places!)</p>
    <br>
    <br>
   <iframe src="https://trinket.io/embed/blocks/7e080632a6" width="100%" height="600" frameborder="0" marginwidth="0" marginheight="0" allowfullscreen></iframe>
</div>
<br>
<br>

<div class="panel-footer">
    <p align="center">&copy; Coyote Coders Crew212</p>
    <p align="center">Interactive Python Activites Powered by Trinket</p>
</div>


{% endblock %}