{% extends "base.html" %}

{% block title %}
Pay Rate Calculator
{% endblock %}




{% block content %}

<div class="container">
	{% from "_formhelpers.html" import render_field %}
	<div class="jumbotron">
		<h1>Calculate Pay Rate</h1>
		<div class="container">
				<form method='POST' action="/calculate_pay_rate" class="form-inline" role="form">
						<div class="form-group">
								<dl>
									  {{ render_field(form.client) }}
										{{ render_field(form.billingRate) }}
										{{ render_field(form.margin) }}
										{{ render_field(form.payType) }}
								</dl>
								<p><input type=submit value="Calculate">
								{% if error == True %}
								<div class="alert alert-danger">
									That value is incorrect.
								</div>
								{% endif %}
						</div>
				</form>
				<div class="container">
					<h4>Net Billing Rate: ${{net_billing_rate }}</h4>
					<h4>Loaded Cost: ${{loaded_cost}}</h4>
					<h4>Pay Rate: ${{ pay_rate }}</h4>
					<h4>Margin ($): {{ margin_dollars }}</h4>
				</div>
		</div>
	</div>
</div>



<footer>
    <div class="container-fluid"> 
        &copy; 2016 by Keyot, LLC. All Rights Reserved.
    </div>
</footer>

{% endblock %}
