{% extends "base.html" %}
{% block content %}

<div class="container">
	{% from "_formhelpers.html" import render_field %}
	<div class="jumbotron">
		<h1>Calculate Pay Rate</h1>
		<div class="container">
				<form method='POST' action="/login" class="form-inline" role="form">
						<div class="form-group">
								<dl>
									  {{ render_field(form.client) }}
										{{ render_field(form.billingRate) }}
										{{ render_field(form.targetMargin) }}
										{{ render_field(form.payType) }}
								</dl>
								<p><input type=submit value="Calculate">
								{% if error == True %}
								<div class="alert alert-danger">
									That value is incorrect.
								</div>
								{% endif %}
						</div>
				</form>
				<div class="container">
					<h4>Net Billing Rate: $</h4>
					<h4>Loaded Cost: $</h4>
					<h4>Pay Rate: $</h4>
					<h4>Margin ($):</h4>
				</div>
		</div>
	</div>
</div>

{% endblock %}
