{% extends "base.html" %}

{% block title %} Welcome {% endblock %}

{% block content %}

<div class="container">
	<div class="jumbotron">
		<div class="container">
		<h1>Margin Math</h1>
		<p>Log in and choose a calculator to get started!</p>

    {% if not current_user.is_authenticated %}
        {% from "_formhelpers.html" import render_field %}
        <div class="col-md-5">
            <form method='POST' action="/login" class="form-inline" role="form">
                <div class="form-group">
                    <dl>
                        {{ render_field(form.password) }}
                    </dl>
                    <p><input type=submit value="Sign In">
                                {% if error == True %}
                                <div class="alert alert-danger">
                                    That password is incorrect.
                                </div>
                                {% endif %}
                </div>
            </form>
        </div>
    </div>
</div>
</div>

{% endif %}

<footer>
    <div class="container-fluid" align="center"> 
        &copy; 2016 by Keyot, LLC. All Rights Reserved.
    </div>
</footer>

{% endblock %}