{% extends "base.html" %}

{% block title %} Welcome {% endblock %}

{% block content %}

{% if not current_user.is_authenticated %}
    <div class="container">
    <div class="alert-warning">
    <i><h2 align="center">Please Login Below to Play!</h2></i>
    </div>
    </div>
{% endif %}
    
    
   

<div class="container">
    <div class="jumbotron">
    
    <img src="static/Coyote.png">

    </div>
</div>

<div class="container">
    {% if valid_registration == "True" %}
    <div class="alert alert-success">
        You were successfully registered!  Please sign in. 
    </div>
</div> 

    {% endif %}
    


<div class="container">


<div class="col-sm-8">
    {% from "_formhelpers.html" import render_field %}
    
        <h1>
        Our Mission:
        </h1>
        <p>
        Welcome to Coyote Coders! Have you ever wanted to design your own game? Do you think it would be neat to be able to build your very own website from scratch? As long as you are curious and have access to a computer, you can! We at Coyote Coders believe that coding is fun and useful at any age, and have a mission to introduce elementary and middle school aged children to the wonders of coding.
        </p>
        <h1>
        What Is Coding?
        </h1>
        <p>
        Have you ever made up a secret code with your friends, that only you understand? Computer coding is similar because there are many different “languages” of code. If you know them, you can give instructions to your computer than only you, the computer, and others who know the language can understand.
        </p>
        <h1>
        Why Is Coding Important?
        </h1>
        <p>
        In addition to being fun, coding is a tool that runs our technology-based world. It’s in every app, program, and service you use. The more you understand computer coding, the more you understand how to rule the world! Just kidding, you won’t rule the world, but you will be able to contribute to improving it via the technology we use.
        </p>
        
</div>

    {% if not current_user.is_authenticated %}

    <div class="col-sm-4">
    
        {% from "_formhelpers.html" import render_field %}
        <div class="col-md-5">
            <form method='POST' action="/login" class="form-inline" role="form">
                <div class="form-group">
                    <dl>
                        {{ render_field(form.username) }}
                        {{ render_field(form.password) }}
                    </dl>
                    <p><input type=submit value="Sign In">
                        
                            
                                {% if error == True %}
                                <div class="alert alert-danger">
                                    <strong>OOPS!</strong> We don't have that on file. 
                                </div>
                                {% endif %}
                                <p>Don't have an account? Click <a href="register">here</a> to register!</p>
                                <p><a>Help! I forgot my password!</a></p> 
                                

                </div>
            </form>
        </div>
    </div>
    <br> 
    <br>
</div>


{% endif %}


<br> 
<br>

<br> 
<br>

<div class="container">
    <div class="col-sm-12">
    <h1 class="center">
    Contact Us
    </h1>
    <p align="center">
    Do you have any ideas for us? Or do you have some questions? We are here to help! Please use the contact information below to get in touch with us:</p>
    <p class="indent">
    Mailing Address:  Customer Relations Office<br>
    123 Enterprise Drive<br>
    Buenavista, CO 55043<br>
    USA<br>
    <br>
    Email: help@thecoyotecoders.com
    <br>
    Phone: 1-800-555-1234

    </p>
    </div>
</div>
    

<div class="panel-footer">
    <p align="center">&copy; Coyote Coders Crew212</p>
    <p align="center">Interactive Python Activites Powered by Trinket</p>
</div>


{% endblock %}