{% extends "base.html" %}

{% block title %} Welcome {% endblock %}

{% block content %}
<div align="center" class="container">
<div class="jumbotron container">

    {% if not current_user.is_authenticated %}

    <div align="center">

        {% from "_formhelpers.html" import render_field %}
        <div align="center">
          <h1>Login</h1>
          </br>
          </br>
            <form method='POST' action="/login" class="form-inline" role="form">
                <div class="form-group">
                    <dl>
                        {{ render_field(form.password) }}
                    </dl>
                    <p><input type=submit value="Sign In">
                                {% if error == True %}
                                <div class="alert alert-danger">
                                    That password is incorrect.
                                </div>
                                {% endif %}
                </div>
            </form>
        </div>
    </div>
    <br>
    <br>
</div>


{% endif %}


<footer>
    <div class="container-fluid" align="center">
        &copy; 2016 by Keyot, LLC. All Rights Reserved.
    </div>
</footer>

{% endblock %}
