{% extends "base.html" %}

{% block title %} Register {% endblock %}

{% block content %}

<div class="container">
    <div class="jumbotron">
        <h1>Register</h1>      
        <p>Register below to track your progress!</p>
    </div>
</div>


<div class="container">
    {% from "_formhelpers.html" import render_field %}
    <div class="col-md-5">
        <form method='POST' action="/register" class="form-inline" role="form">
            <div class="form-group">
                <dl>
                    {{ render_field(form.username) }}
                    {{ render_field(form.password) }}
                    {{ render_field(form.confirm_password) }}
                </dl>
                <p><input type=submit value="Register">
            </div>
        </form>
    </div>
</div>



<div class="container">

    {% if valid_registration == "exists" %}
    <div class="alert alert-danger">
        <strong>OOPS!</strong> That's someone else's name. Choose a different name or <a href="login">login</a>. 
    </div>
        
    {% elif valid_registration == "password_match" %}
        <div class="alert alert-danger">
            <strong>OOPS!</strong> Your password confirmation did not match.  Please try again.
        </div>
    {% elif valid_registration == "password_content" %}"   
        <div class="alert alert-danger">
            <strong>OOPS!</strong> Please make sure your password contains at least one number and letter.
        </div>
        
    {% elif valid_registration == "empty" %}"   
        <div class="alert alert-danger">
            <strong>OOPS!</strong> You forgot to enter a username.
        </div>
    
    {% elif valid_registration == "password_length" %} 
    <div class="alert alert-danger">
        <strong>OOPS!</strong> Your password isn't long enough!  It should be at least 8 characters.
    </div>
        
    {% else %}
        <p>Already have an account? Click <a href="login">here</a> to login!</p>
    {% endif %}
    
    
</div>

<div class="panel-footer">
    <p align="center">&copy; Coyote Coders Crew212</p>
    <p align="center">Interactive Python Activites Powered by Trinket</p>
</div>


{% endblock %}